pyrogram==2.0.106
tgcrypto==1.2.5
aiohttp==3.9.5
aiosocks==0.2.6
beautifulsoup4==4.12.3
pillow==10.4.0
requests==2.32.3
stem==1.8.2
aiofiles==24.1.0
pandas==2.2.2
cryptography==43.0.1
nest-asyncio==1.6.0
lxml==5.3.0
psycopg2-binary==2.9.9
redis==5.0.8
deep-translator==1.11.4
fpdf==1.7.2
PySocks==1.7.1
