pyrogram==2.0.106
tgcrypto==1.2.5
aiohttp==3.8.4
beautifulsoup4==4.12.2
pillow==10.1.0
requests==2.31.0
stem==1.8.2
aiofiles==23.2.1
pandas==2.1.4
cryptography==41.0.7
nest-asyncio==1.6.0
lxml==4.9.3
